.attempt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .terms-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    h3 {
      margin-bottom: 10px;
    }
  
    ul {
      text-align: center;
      list-style-position: inside; 
      justify-content: star;
      margin-left: 0; 
    }
  
    li {
      margin-bottom: 5px;
    }
  
    .highlighted {
      color: #ff0000; // Highlighted text color
      font-weight: bold;
    }
  }
  
  .agree-checkbox {
    margin-top: 20px;
  }
  
  .quiz-container {
    display: flex;
    flex-direction: row; // Display items in a row
    justify-content: flex-start; // Align items to the left
    margin-left: -20px; // Adjust for grid gap
  }
  
  
  .quiz-card {
    display: inline-block; 
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 20px;
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    h4 {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    button {
      width: 80px;
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 14px;
      background-color: #4a4d51f5; /* Initial background color */
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
          background-color: #1b1315; /* Change to desired color on hover */
      }
    }
  }
  
  .attempt-section {
    margin-top: 20px;
  
    h3 {
      margin-bottom: 10px;
    }
  
    textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: vertical;
    }
  
    
    }
  
  