.attempt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    .ide-condi{
        color: rgb(166, 7, 7);
        font-weight: bold;
    }
}

.agree-checkbox {
    margin-top: 20px;
}

.button{
    width: 100px;
}