.login {
  height: 100vh;
  background-color: rgb(217, 245, 251);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: white;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(2, 22, 32, 0.5), rgba(31, 31, 31, 0.5)),
        url("../../assets/loginbg.jpeg") center;
      background-size: cover;
      padding: 50px;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      .create-account {
        text-decoration: none;
        text-align: center;
        color: #e1e3e5;

        &:hover {
          color: #e1e3e5;
          text-decoration: underline;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center vertically */
      align-items: center; /* Center horizontally */
      padding: 50px;
      gap: 50px;
      width: 0%;

      h1 {
        color: #555;
        font-size: 30px; /* Adjust the font size as needed */
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 10px 10px;
        }
      }
    }
  }
}
